:root {
    --poOrange: #E58323;
	--poDarkOrange: #C36000;
    --poDarkGrey: #313131;
	--poCardTitleBar: #4a4a4a;
    --poLightGrey: #979797;
    --poWhiteText: #FFFFFF;
    --poOrangeText: #F59713;
    --poAppBGColor: #F0F3FS;
    --poDarkText: #23282C;
	--greenCheck: #349745;
	--redCheck: #c20000;
    --btnBgColor: #c4c4c4;
    --btnTextColor: #262626;
    --poLighterGreyColor: #d0d0d0;
}

/* J TRON ---------------------------------*/

.jumbotron {
    border-radius: 0px;
    margin: 0px;
}

.page-title {
	font-size: 12pt;
    font-weight: 600;
    
}

/* LOGIN CARD ----------------------------*/
.loginCard {
    max-width: 24rem;
    background-color: var(--poAppBGColor);
	border: none;
	margin-top: 1.5rem;
}

.login-card-body {
    padding: 0;
}

.btn-primary {
	font-size: 10pt;
	min-width: 10rem;
}

.btn-primary:hover {
	background-color: var(--poDarkOrange);
	border-color: var(--poDarkOrange);
}

.btn-primary:active {
	background-color: var(--poDarkOrange);
	border-color: var(--poDarkOrange);
}

/* ISOLATION CARD CSS -------------------------*/

.isocd-jtron {
	padding: 0.75rem 1.75rem 0rem 1.75rem;
}

.isolTitleHR {
	margin-bottom: 0;
}

.isocd-divider {
	background-color: #4A4A4A;
    margin-bottom: 8px;
}

.card-title {
    margin-bottom: 0;
}

.card-header {
    background-color: var(--poDarkGrey);
    color: var(--poWhiteText);
}

.isocd-btn {
    margin-top: 6px;
}

/* ISOLATION CARD LIST AND ROWS -------------------------*/

.isocd-ul {
	padding: 0;
}

.isocd-li {
	list-style-type: none;	
	padding-top: 3px;
}

.isocd-fa-col1{
    padding: 0;
    padding-top: 4px;
    text-align: center;
    
}

.isocd-grey {
	color: rgb(160, 160, 160);
}

isocd-fa-ltgrey {
    color: #d0d0d0;
}

.isocd-value-p {
	margin: 0;
}

.isocd-red {
	color: var(--redCheck);
}

.addIso-card-header {
	background-color: var(--poCardTitleBar);
    font-size: 12pt;
}

.addIso-card {
   
    margin-top: 1.5rem;
    padding: 0;
}

.isoCard-card {
   
    margin-top: 1.5rem;
    padding: 0;
}

.addIso-btn {
    width: 100%; 
}

.addIso-sources-btn {
    margin-bottom: 0.8rem;
    font-size: 12pt;
    background-color: lightgray;
    color: black;
}

.manual-entryForm {
    width: 80% !important;
}
.manual-entryButton{
    height: 35px;
    width: 20%;
} 
.sourceCard {
    min-width: 20rem;
    max-width: 20rem;
}

html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 0;
}

.devcd-divider {
	background-color: #c2c2c2;
    margin: 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/* anything over 480px the following styles will apply*/
@media (min-width: 480px) { 

    .addIso-card {
        min-width: 20rem;
        max-width: 20rem;
        margin-top: 1.5rem;
        padding: 0;
    }
    .isoCard-card {
        min-width: 20rem;
        max-width: 20rem;
        margin-top: 1.6rem;
        padding: 0;
    }
}







